<% redirect_to session_new_url unless logged_in? %>

<header id="header"></header>
<nav id="search-bar"></nav>

<main id="main"></main>



<script>

Cicadas.boreas = "<%= asset_path("boreas.jpg") %>"
Cicadas.grid = "<%= asset_path("grid.png") %>"


$(document).ready(function(){
  Cicadas.initialize({ cUserId: <%= current_user.id %> });
});

</script>
