<% redirect_to session_new_url unless logged_in? %>



<header id="header"></header>
<nav id="search-bar"></nav>

<main id="main"></main>



<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64315962-1', 'auto');
  ga('send', 'pageview');

Cicadas.boreas = "<%= asset_path("boreas.jpg") %>"
Cicadas.grid = "<%= asset_path("grid.png") %>"


$(document).ready(function(){
  Cicadas.initialize({ cUserId: <%= current_user.id %> });
});

</script>
