<style>

  .about-textarea {
    width: 200px;
    height: 100px;
    background: #fff;
    border: 1px solid #ccc;
    resize: none;
    margin-left: 5px;

  }

  .about-save {
    margin-left: 10px;

  }


</style>


<form class="about-form">

  <textarea class="about-textarea" name="user[about]"><%=user.escape("about") %></textarea>
  <button class="about-save image-button">Save</button>
  <div class="cancel image-button">Cancel</div>

</form>
