
<style>

  img {
    display: block;
    width: 150px;
    height: 100%;
  }

  .user-sidebar {
    padding: 20px 30px;

  }



</style>

<div class="user-sidebar"
<h1>User</h1>



    <br>
    <%= user.get('username') %>
  <br>
  <img src="<%= user.get("avatar") %>" alt="avatar">
<br>

<form class="avatar-form">

  <label>
    Avatar
    <input type="file" name="user[avatar]" class="input-user-avatar">
  </label>

  <br>

  <img src="" class="preview-user-avatar">

  <br>

  <button class="save-avatar">Save</button> or <a href="#">Cancel</a>

</form>

</div>
