<li><form class="author-form"><li>
<li>Image URL</li>
<li>
<input type="text" name="author[image_url]" class="image-input" value="">
</li>
<button class="save-image"> Save </button>
<div class="cancel">Cancel</div>
