<style>

  .author-index {
    width: 1040px;
    /*width: 600px;*/
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
  }



  .authors a {
    padding: 13px;
    display: block;
    font-size: 18px;
    color: #7F7F7F;
    /*width: 493px*/
    /*for two columns*/

  }

  .authors li {
    border-bottom: 2px solid #ccc;
    /*float: left;*/
    /*border-left: 1px solid #ccc;*/


  }

  .authors li:hover {
    border-left: 6px solid #ffc31c;
    box-shadow: -1px 1px 1px black;
  }


  .author-index > h1 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 13px;
    display: block;
    width: 1000px;
    float: left;
    border-bottom: 2px solid #ccc;

  }



  .authors {
    float: left;
    width: 1000px;
  }



</style>
<main class="author-index group">
  <h1>Authors</h1>
    <ul class="authors group">
    </ul>
</main>
