
<style>

  .author-show {
    width: 975px;
    margin: auto;
    /*background: #f6f4e4;*/
  }

  .author-container {
    width: 475px;
    float: left;
    display: block;
    margin-right: 75px;
    margin-left: 3px;

  }

  .author-show-sidebar {
    float: left;
    margin-top: 28px;*/

  }


  .text-item {
    padding: 8px;
    border-top: 2px solid #ccc;
    display: block;
  }

  .author-texts a:last-child {
    border-bottom: 2px solid #ccc;
  }

  .author-texts a:hover {
    border-left: 6px solid #ffc31c;
    box-shadow: -1px 1px 1px black;
  }

  .text-item-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 4px;
    float: left
    width: 400px;
    display: block;
  }

  .author-container > h3 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;

  }

  .author-show > h1 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 13px;
    margin-bottom: 20px;
    display: block;
    width: 950px;
    float: left;
    border-bottom: 2px solid #ccc;

  }


  .author-show-sidebar li {
    color: #878787;
    font-size: 16px;
    list-style: none;

  }


  img {
    width: 300px;
    height: 375px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .edit-author {
    cursor: pointer;
  }


  .cancel {
    cursor: pointer;
    float: left;
    padding-left: 30px;
    padding-top: 10px;

  }


  .save-image {
    float: left;
    padding-top: 10px
  }


  .image-input {
    width: 300px;
    z-index: 1;
    margin-left: 2px;
    color: #000;
  }



</style>
<main class="author-show group">
  <h1><%=author.escape('name')%></h1>
  <section class="author-container group">
  <h3>Texts</h3>
    <ul class="author-texts">
    </ul>
  </section>

<section class="author-show-sidebar">
  <ul>
    <li><img src="<%= author.get("image") %>" alt="image"></li>
    <li class="edit-author">Edit</li>
  </ul>

</section>
</main>
