
<style>

  .author-show {
    width: 975px;
    margin: auto;
    /*background: #f6f4e4;*/
  }

  .author-container {
    width: 475px;
    float: left;
    display: block;
    margin-right: 75px;
    margin-left: 3px;

  }

  .author-show-sidebar {
    width: 350px;
    float: left;
    background: #f6f4e4;
    border: 1px solid #ccc;;
    padding: 10px;
    margin-top: 28px;

  }


  .text-item {
    padding: 8px;
    border-top: 2px solid #ccc;
    display: block;
  }

  .author-texts a:last-child {
    border-bottom: 2px solid #ccc;
  }

  .author-texts a:hover {
    border-left: 6px solid #ffc31c;
    box-shadow: -1px 1px 1px black;
  }

  .text-item-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 4px;
    float: left
    width: 400px;
    display: block;
  }

  .author-container > h3 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;

  }

  .author-show > h1 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 13px;
    margin-bottom: 20px;
    display: block;
    width: 950px;
    float: left;
    border-bottom: 2px solid #ccc;

  }


  .author-show-sidebar li {
    padding: 5px;
    color: #878787;

  }


  .author-show-sidebar li:first-child {
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 0;

  }

  .author-show-sidebar li:first-child {
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 0;

  }

  img {
    width: 200px;
    height: 250px;

  }



</style>








<main class="author-show group">
  <h1><%=author.escape('name')%></h1>
  <section class="author-container group">
  <h3>Texts</h3>
    <ul class="author-texts">
    </ul>
  </section>

<section class="author-show-sidebar">
  <ul>
    <li><img src="<%= author.get("image") %>" alt="image"></li>

    <li><form class="autor-picture-form"><li>
    <li>Change Image: Paste image url</li>
    <li>(i.e. a string that ends in .jpg/.png)</li>
    <input type="text" name="author[image_url]" class="image-input">
    <button class="save-image"> Save </button>
    <a href="#">Cancel</a>
  </ul>

</section>
</main>
