<style>

  .annotation-content {
    padding: 10px 0px;
    line-height: 1.2;
    font-family: sans-serif;
  }



</style>





<main class="annotation-container group">
<section class="annotation-main-content">

  <section class="annotation-author">
    <!-- insert Description By: author name -->
  </section>

  <section class="annotation-content">
    <%=content %>
  </section>
<section class="annotation-extra-buttons">
  <button class="annotation-edit form-submit">Edit</button></td>
</section>

<section>
