<style>


  .annotation-container {
    border-left: 1px solid #ffc31c;
    padding-left: 12px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 12px;
    margin-top: <%= topPadding %>px;

  }


  .annotation-author {
    margin-bottom: 10px;
    font-weight: bold;
    box-shadow: 0px 2px 1px #ffc31c;
  }

  .author-name {
    margin-left: 15px;
    font-size: 14px;
    float: left;
  }

  .annotation-auth-tag {
    font-size: 15px;
    float: left;

  }

  .annotation-content {
    padding: 10px 0;
    line-height: 1.3;
    font-family: sans-serif;
    font-size: 16px;


  }


.annotation-bottom-bar {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;

}

.annotation-bottom-bar button {
  font-size: 12px;
  padding: 3px;
  border-right: 1px solid #ccc;

}


.annotation-content a {
  color: #009900;

}

</style>

<base target="_blank"/>






<main class="annotation-container group">
<section class="annotation-main-content">
  <section class="annotation-author group">
    <div class="annotation-auth-tag">contributor:</div>
    <div class="author-name">
      <a href="#/users/<%= author.id%>">

      <%= author.escape('username')%> </a>
    </div>
  </section>

  <section class="annotation-content">
    <%=content %>
  </section>
<section class="annotation-bottom-bar">
  <button class="annotation-edit">Edit</button>
</section>

</main>
