<style>

  .search-results-container {
    width: 975px;
    padding-top: 20px;
    margin: auto;
    background: #f6f4e4;
  }

  .search-texts-container {
    width: 400px;
    float: left;
    display: block;

  }



</style>







<a href="javascript:void(0)" class="next-page">Next Page</a>


<main class="search-results-container group">
  <section class="search-texts-container group">
    <ul class="search-results-texts">
    </ul>
  </section>
</section class="search-results-sidebar group">

  <ul class="search-results-artists">
    <li>Artist Results </li>
  </ul>

  <ul class="search-results-users">
    <li>User Results </li>
  </ul>

</section>
</main>





<ul id="search-results"></ul>
