
  <style>

    .second-header-main {
      border-bottom: 1px solid #ccc;
      background: #fff;

    }


@media (min-width: 990px) {
  .second-header-nav {
    width: 1015px;
    width: 1053px;
    margin: auto;
    }

}


    .second-header-nav a {
        font-size: 24px;
        font-weight: bold;
        font-family: 'Sirin Stencil', sans-serif;
        float: left;
        padding: 6px 8px;
        padding-bottom: 11px;
        color: #138808;
        color: #009900;
        text-shadow: 1px 1px 1px #fff;
        box-shadow: 0px 0px 4px #ffc31c;
        margin-left: 2px;
      }

    .second-header-nav a:hover {
      cursor: pointer;
      text-shadow: 1px 1px 4px #ffc31c;
      box-shadow: -1px 1px 8px #ffc31c;

    }




    .search-bar {
      display: block;
      padding: 3px 15px;
      float: right;
      margin-right: 30px;

    }



    .second-header-nav h2 {
      font-size: 18px;
      display: block;
      float: left;
      padding: 5px 10px;
      color: #307A29;
      color: #009900;
    }


    .second-header-nav input {
      width: 225px;
      padding: 5px;
      display: block;
      float: left;
      height: 10px;
      margin-top: 7px;

    }




  </style>



<header class=second-header-main>

  <nav class="second-header-nav group">
    <h1><a href="/#">Cicadas Song</a></h1>

    <form class="search-bar group">
      <h2>Search:</h2>
      <input type="text" id="query" placeholder="Author, text, or user" value="<%=search_query%>">
    </form>
  </nav>
</header>

<!--
<a href="javascript:void(0)" class="next-page">Next Page</a>

<ul id="search-results"></ul> -->
