
  <style>

    .second-header-main {
      border-bottom: 1px solid #ccc;
      background: #fff;
      margin-bottom: 25px;
      /*position: fixed;
      z-index: 1;*/
      /*background: #f6f4e4;*/
      /*background: #3FBC13;*/


    }

    .second-header-nav {
      width: 975px;
      margin: auto;
      /*border-right: 1px solid #fff;*/
      /*background: #fff;*/



      /*border-bottom: 1px solid #ccc;*/



    }


    .second-header-nav h1 {
        font-size: 22px;
        font-weight: bold;
        float: left;
        padding: 8px;
        /*color: #3CCF33;
        color: #ffc31c;
        color: #009900;*/
        color: #138808;
        color: #009900;
        text-shadow: 1px 1px 1px #fff;
        box-shadow: 0px 0px 4px #ffc31c;*/
        /*margin-left: 1px;*/
      }

    .second-header-nav h1:hover {
      cursor: pointer;
      text-shadow: 1px 1px 4px #ffc31c;
      box-shadow: -1px 1px 8px #ffc31c;
      /*background: #e0dece;*/

    }




    .search-bar {
      display: block;
      padding: 3px 15px;
      /*border-right: 1px solid #ccc;*/
      float: right;
      margin-right: 25px;

    }



    .second-header-nav h2 {
      font-size: 18px;
      display: block;
      float: left;
      padding: 5px 10px;*/
      color: #307A29;
      color: #009900;
    }


    .second-header-nav input {
      width: 225px;
      padding: 5px;
      display: block;
      float: left;
      height: 10px;
      margin-top: 7px;

    }




  </style>


<header class=second-header-main>

  <nav class="second-header-nav group">
    <h1>Cicadas Song</h1>

    <form class="search-bar group">
      <h2>Search:</h2>
      <input type="text" id="query" placeholder="Author, text, or user" value="<%=search_query%>">
    </form>
  </nav>
</header>

<!--
<a href="javascript:void(0)" class="next-page">Next Page</a>

<ul id="search-results"></ul> -->
