
<style>

.description-textarea {
  width: 350px;
  min-height: 300px;
  resize: none;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  padding: 5px
}

.description-form {
  margin: auto;
  display: block;
  width: 300px;
}

table td {
  padding: 3px;
}



</style>

<form class="description-form group" action="<%=api_descriptions_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <input type="hidden" name="description[text_id]" value="<%=text.id%>">


<table>
  <tr>
    <td><strong>Add Description</strong></td>
  </tr>
  <tr>
    <td><textarea class="description-textarea"
      name="description[content]"><%=description.content%></textarea> </td>
  </tr>
  <tr>
    <td><button class="form-submit">Create</button></td>
  </tr>

</table>


</form>
