.text-show-container {
  display: block;
  margin: auto;
  // margin-left: 75px;
  border-left: 1px solid #ccc;
  padding: 20px 0px;
  width: 920px;
  background: #f6f4e4;
  background: #ffffef;
  background: #fdfdfd;
  // background: white;

  // background: #F8F8FF;

}

.text-show-main {
  display: block;
  float: left;
  width: 659px;
  width: 70%;
  margin-left: 15px;
  position: relative
  // border-right: 1px solid #ccc;
  /*margin-left: 75px;
  border-left: 1px solid #ccc;*/
}


/* not sure what looks better, but this  border stretches the whole page */
// .text-main-border-right {
//   display: block;
//   width: 1px;
//   height: 100%;
//   position: absolute;
//   background: #ccc;
//   top: 20px;
//   right: 0;
//
// }


.text-show-right-sidebar {
  display: block;
  float: left;
  // padding-right: 10px;
  padding-left: 10px;
  margin-top: 30px;
  border-left: 1px solid #ccc;
  // border-right: 1px solid #ccc;
  /*width: 350px;*/
  line-height: 1.1;
  width: 25%;
}


/*.show-description-right-line {
  content: '';
  display: block;
  width: 0px;
  height: 1000px;
  border-right: 1px solid #ccc;
  float: right;
  pa-left: 20px;
  margin-top: -200px;

}*/


.text-show-body {
  font-size: 17px;
  padding: 5px 0px;
  padding-right: 15px;
}


.text-show-header {
  border-bottom: 1px solid #ccc;
}

.show-title {
  font-size: 28px;
  font-weight: 200px;
  padding: 10px 0px;
}

.show-author {
  font-size: 20px;
  font-weight: 150px;
  padding-bottom: 5px;
}

.show-title > a:hover {
  color: #018df6;
  // color: #007ca1;
  //color: #0064a1;
  text-shadow: 0px 0px 1px #eaec21;
  cursor: pointer;
}


.description-content {
  padding-bottom :10px;
  font-size: 15px;
}
