.text-show-container {
  display: block;
  margin: auto;
  margin-left: 75px;
  border-left: 1px solid #ccc;
  padding-top: 20px;
  //width: 900px;

}

.text-show-main {
  display: block;
  float: left;
  width: 659px;
  width: 70%;
  margin-left: 15px;
  /*margin-left: 75px;
  border-left: 1px solid #ccc;*/
}


.show-description {
  display: block;
  float: left;
  // padding-right: 10px;
  padding-left: 10px;
  margin-top: 30px;
  border-left: 1px solid #ccc;
  // border-right: 1px solid #ccc;
  /*width: 350px;*/
  width: 25%;
}


/*.show-description-right-line {
  content: '';
  display: block;
  width: 0px;
  height: 1000px;
  border-right: 1px solid #ccc;
  float: right;
  pa-left: 20px;
  margin-top: -200px;

}*/


.text-show-body {
  font-size: 16px;
  padding: 5px 0px;
  padding-right: 15px;
}


.text-show-header {
  border-bottom: 1px solid #ccc;
}

.show-title {
  font-size: 28px;
  font-weight: 200px;
  padding-bottom: 5px;
}

.show-author {
  font-size: 20px;
  font-weight: 150px;
  padding-bottom: 5px;
}

.show-title > a:hover {
  color: #018df6;
  // color: #007ca1;
  //color: #0064a1;
  text-shadow: 0px 0px 1px #eaec21;
  cursor: pointer;
}


.description-content {
  padding-bottom :10px;
}
