.text-form-input {
  display: block;
  border: 1px solid #ccc;
  background: #fff;
  height: 20px;
  width: 250px;
  border-radius: 5px;
  padding: 3px 5px;
}

input.single-check {
  display: inline;
  padding: 5px;
  margin: none;
}

.text-textarea {
  width: 600px;
  min-height: 500px;
  resize: none;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  padding: 5px
}

.form-top-components li {
  width: 275px;
  float: left;
  margin-right: 5px;
}



.text-form > ul {
  display: block;
  width: 600px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
}


form > .date-select {
  display: block;
  width: 600px;
}


.text-form > strong {
  font-weight: 525;
  font-size: 32px;
  padding: 15px 0px;
  display: block;
  text-shadow: 1px 1px 1px green;
}



.text-form label {
  padding: 8px 0px;
  display: block;
}

.text-form {
  display: block;
  width: 620px;
  margin: auto;
  margin-bottom: 10px;
}
