.header {
  display: block;
  text-align: center;
  background: #009900;
  background: #3FBC13;
  width: 100%;
}

.header-list {
  float: right;
}


@media (max-width: 980px) {
  .header-nav {
    display: block;
    color: #f9f8f7;
    width: 975px;
    margin: auto;
  }
  .header-list {
    float: right;
  }
}

@media (min-width: 980px) {
  .header-nav {
    display: block;
    color: #f9f8f7;
    width: 1020px;
    margin: auto;
  }

  .header-list {
    float: right;
    margin-right: 5px;
  }
}



.header-logo a {
  padding: 6px;
  border-radius: 100%;
  border: 3px solid #009900;
  background: #fff;
  color: #3FBC13;
  box-shadow: 0px 0px 1px black;
  font-size: 25px;
  display: block;
  float: left;
  font-weight: bold;
  vertical-align: center;
  margin-left: 5px;

}

.header-logo a:hover {
  color: #ffc31c;
  border: 3px solid #ffc31c;
  background: #f1f1f1;
  background: #fff;
  background: #A40000;
  background: #009900;
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
  /*background: #e0dece;*/

}






.header-list > li {
  border-left: 1px solid #F2F2F2;
  float: left;
}

.header-list li:last-child {
  border-right: 1px solid #F2F2F2;
}

.header-list a:hover {
  background: #000;
}





.header-list a {
  display: block;
  padding: 9px;
  font-size: 14px;
}
