.header {
  /*border-bottom: 1px solid #F2F2F2;*/
  display: block;
  text-align: center;
  /*margin-bottom: 10px;*/
  /*background: #FF0000;*/
  background: #009900;
  background: #3FBC13;
  /*width: 5000px;*/
  width: 100%;
  /*background: #22b422;*/
  /*background: #00B300;*/
}

.header-list {
  /*border: 1px solid blue;*/
  float: right;
}

.header-nav {
  display: block;
  margin: 0px 75px;
  color: #f9f8f7;
  width: 975px;
  margin: auto;
  background: #3FBC13;
}

.header-logo {
  /*border: 1px solid orange;*/
  float: left;
  padding: 10px;
  font-size: 18px;
}

.header-logo:hover {
  color: #FFD700;
  color: #ffc31c;
}





.header-list > li {
  border-left: 1px solid #F2F2F2;
  float: left;
}

.header-list li:last-child {
  border-right: 1px solid #F2F2F2;
}

.header-list a:hover {
  background: #000;
  /*background: #0000f2;
  background: #0000d2;*/
}





.header-list a {
  display: block;
  padding: 10px;
  font-size: 14px;
}
