.header {
  border-bottom: 1px solid #F2F2F2;
  display: block;
  text-align: center;
  /*margin-bottom: 10px;*/
  /*background: #FF0000;*/
  background: #009900;
  /*background: #22b422;*/
  /*background: #00B300;*/
}

.header-list {
  /*border: 1px solid blue;*/
  float: right;
}

.header-nav {
  display: block;
  margin: auto;
  margin: 0px 25px;
  color: #f9f8f7;
}

.header-logo {
  /*border: 1px solid orange;*/
  float: left;
  padding: 10px;
  font-size: 18px;
}

.header-logo:hover {
  color: #FFD700;
  color: #ffc31c;
}





.header-list > li {
  border-left: 1px solid #F2F2F2;
  float: left;
}

.header-list li:last-child {
  border-right: 1px solid #F2F2F2;
}

.header-list a:hover {
  background: #000;
  /*background: #0000f2;
  background: #0000d2;*/
}





.header-list a {
  display: block;
  padding: 12px;
  font-size: 14px;
}







/*<header class="header">
    <nav class="header-nav group">
      <h1 class="header-logo">
        <a href="/">Aleatory Literature</a>
        </h1>

    <%if current_user%>
      <ul class="header-list group">
        <li><a href="#"> Notifications</a></li>
        <li><a href="<%=user_url(user)%>">Profile</a></li>
        <li><a href="<%=new_text%>">Create</a></li>
        <li><a href="#">Space Holder</a></li>
      </ul>
    <% else %>
    <ul class="header-list group">
      <li><a href="/sessions/new">Sign In</a></li>
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="#">Space Holder</a></li>
    </ul>
    <% end %>
 </nav>
</header>*/
