<a href="/#/texts/<%=postlet.escape('text_id')%>">
  <img src="<%=postlet.get('image_url')%>"/>
  <h1 class="sub-postlet-title">
    <%= postlet.escape('title') %> By <%= postlet.escape('author') %>
  </h1>
</a>
