

<style>

  .formatting-title {
    display: block;
    padding: 5px;
    padding-top: 11px;


  }

  .formatting-guide {
    display: block;
    padding: 8px;
    background: #f5f5f5;
    margin-bottom: 7px;

  }


</style>


<main class="formatting-container group">
  <ul>
    <li>
    <div class="formatting-title">
      Add an image by pasting in the url:
    </div>
    <div class="formatting-guide">
      http://backbonejs.org/docs/images/backbone.png
    </div>
    </li>
    <li>
    <div class="formatting-title">
      Add a link like this:
    </div>
    <div class="formatting-guide">
      [Lapis Lazuli](http://www.cicadas-song.com/#/texts/6)
    </div>
    </li>
    <li>
    <div class="formatting-title">
      Simple Formatting:
    </div>
    <div class="formatting-guide">
      *This text is in italics*
      <br>
      **This text is bold**
      <br>
      >This text is a block quote
    </div>
    </li>
  </ul>

</main>
