<style>

.description-textarea {
  width: 100%;
  min-height: 225px;
  resize: none;
  font-size: 16px;
  padding: 8px;
  margin-top: 10px;
  background: #f5f5f5;
}

.description-form {
  display: block;
  width: 93%;
  widht: 300px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-left: 1px solid #ccc;
}


.description-submit {
  background: #E8E8E8;
  border: 1px solid #ccc;
  border-radius: 3px;
  float: left;
}

.description-form-footer {
  margin: 10px 0px;
}

.description-form-footer button {
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  padding: 5px;
}


.description-form li {
  padding: 3px;
}

.description-form strong {
  font-weight: bold;
  box-shadow: 2px 2px 2px #ffc31c;
}



</style>

<form class="description-form group">
<ul class="errors">
</ul>


  <ul>

    <li>
      <%if (!description.get('id')) { %>
        <strong>Add Description</strong>
        <%}%>
    </li>
    <li>
      <textarea class="description-textarea"
      name="description[content]"
      placeholder="Write something interesting"><%=description.escape('content')%></textarea>
    </li>

    <div class="description-form-footer group">
      <button class="description-submit"> Save</button>

        <button class="description-cancel cancel">Cancel</button>
    </div>
  </ul>

</form>
