<main class="description-container group">
<section class="description-main-content">

  <section class="desctiption-author">
    <!-- insert Description By: author name -->
  </section>

  <section class="description-content">
    <%=content %>
  </section>
<section class="description-extra-buttons">
  <button class="description-edit form-submit">Edit</button></td>
</section>

<section>
