

<div class="text-show">
<header class="text-show-header">
  <h1 class="show-title"> <%= @text.title %> </h1>
  <h3 class="show-author"> <%= @text.author.name %> </h3>
</header>
<nav class="text-show-nav">
</nav>
<section class="text-show-body">
  <%=@text.body %>
</section>

<section class="text-show-comment-form">
  <!-- insert comment form -->

</section>
