
<style>
  .entry-nav {
    background: transparent;
    position: relative;
    display: block;
    color: #ffc31c;
  }

  .entry-logo {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 37px;
    font-weight: bold;
    padding: 15px 10px;
    text-shadow: 2px 2px 2px #3B5E2B;
    background: #049100;
    border-radius: 5px;
    opacity: 0.9;
  }

  .entry-header-list {
    display: block;
    float: right;
    background: #049100;
    border-radius: 5px;
    opacity: 0.9;
  }

  .entry-header-list > li {
    float: left;
    text-shadow: 2px 2px 2px #3B5E2B;

  }


  .entry-header-list a {
    padding: 10px 15px;
    display: block;
  }

  .entry-header-list a:hover {
    text-shadow: 1px 1px 1px #ffc31c;
    cursor: pointer;

  }



</style>


<header class="entry-header">
    <nav class="entry-nav group">
      <h1 class="entry-logo">
        <a href="/">Cicadas Song</a>
        </h1>
    <ul class="entry-header-list">
      <li><a href="/sessions/new">Sign In</a></li>
      <li><a href="/users/new">Sign Up</a></li>
    </ul>
 </nav>
</header>
