<header class="header">
    <nav class="header-nav group">
      <h1 class="header-logo">
        <a href="/#">蝉</a>
        </h1>

    <%if current_user%>
      <ul class="header-list group">
        <li><a href="#"> Notifications</a></li>
        <li><a href="<%="/#/users/#{current_user.id}"%>"><%=current_user.username%></a></li>
        <li><a href="/#/texts/new">Create</a></li>
        <li><%= link_to "Sign out", sessions_url, method: :delete%></li>
      </ul>
    <% else %>
    <ul class="header-list group">
      <li><a href="/sessions/new">Sign In</a></li>
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="#">Space Holder</a></li>
    </ul>
    <% end %>
 </nav>
</header>
