
<style>

.main-page {
  width: 1050px;
  margin: auto;
}


.main-page h3 {
  font-size: 16px;
  color: #808080;
  margin-left: 5px;
  margin-top: 5px;

}



.text-index-left {
  width: 520px;
  float: left;
  padding: 10px;
  padding-left: 15px;

}


.text-index-right {
  float: left;
  width: 500px;
  padding-top: 9px;
}

.main-postlets {
  foat: left;
  padding: 5px;
  padding-top: 3px;
}

.main-postlets li {
  float: left;
  padding-bottom: 25px;
}


.sub-postlets-list li {
  margin: 5px;
  float: left;

}



.recent-texts-list {
  float: left;
}

.recent-texts-list li {
  float: left;
  display: block;
  font-size: 18px;
  border: 1px solid #ccc;
  font-weight: bold;
  margin: 5px;
}


.recent-texts-list a {
  width: 462px;
  background: #f6f4e4;
  padding: 10px;
  transition: color 0.5s ease, background 0.5s ease;
  color: #808080;
  display: block;
}

.recent-texts-list a:hover {
  background: #7F7F7F;
  color: #F0F0F0;
}

.recent-text-author {
  font-weight: normal;
  display: inline;
}



.main-about {
  padding: 5px;
  border: 1px solid #ccc;
  float: left;
  margin: 5px;
  margin-top: 3px;
  width: 471px;
  margin-bottom: 20px;

}

.main-page h2 {
  color: #3FBC13;
  color: #009900;
  font-size: 52px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  float: left;


}


.about-text {
  font-size: 18px;
  color: #696969;
  display: block;

}

.main-page .link {
  color: blue;
}




</style>


<main class="main-page group">

  <section class="text-index-left group">
    <h3>Latest on Cicadas Song</h3>
    <ul class="main-postlets">
      <li id="1"></li>
      <li id="2"></li>
      <li id="3"></li>
    </ul>
  </section>

  <section class="text-index-right group">
      <h3>About Cicadas Song</h3>
    <section class="main-about">
      <h2 class="header-logo">蝉</h2>
      <p class="about-text">
        <b>Cicadas Song</b> is a <b>Genius-inspired</b>, literature-focused, digital-library.
         Click on some promoted pages to see what all the <i>buzz</i> is about.
      </p>
    </section>

    <section class="sub-postlets group">
      <h3>Hot on Cicadas Song</h3>
      <ul class="sub-postlets-list">
        <li id="4" class="top-sub-postlet"></li>
        <li id="5"></li>
        <li id="6"></li>
        <li id="7"></li>
        <li id="8"></li>
      </ul>
    </section>

    <section class="recent-texts">
      <h3>Recent Texts</h3>
      <ul class="recent-texts-list">
      </ul>

    </section>


  </section>


</main>
