
<style>

</style>


<main class="main-page">

  <section class="text-index-left">
    <h1>Cicadas Song's Latest</h1>
    <ul class="main-postlets">
      <li id="1"></li>
      <li id="2"></li>
      <li id="3"></li>
    </ul>
  </section>

  <section class="text-index-right">
    <section class="about">
      <h2>About Cicadas Song</h2>
      <h1 class="header-logo">蝉</h1>
      <p class="about-text">
        Cicadas Song is a Genius-inspired, interactive digital library with a focus on classical
        literature. Named after a Platonic myth, Cicadas Song encourages users to not simply
        passively absorb the material at hand, but rather, enter into dialogues with those texts,
        through writing their own annotations or contemplating others'.
        Click on some promoted pages or search to see what all the buzz is about.
      </p>
    </section>

    <section class="sub-postlets">
      <ul class="sub-postlets-list">
        <li id="4"></li>
        <li id="5"></li>
        <li id="6"></li>
        <li id="7"></li>
        <li id="8"></li>
      </ul>
    </section>

    <section class="recent-texts">
      <ul class="recent-texts-list">
      </ul>

    </section>


  </section>


</main>
