
<style>

.main-page {
  width: 1150px;
  margin: auto;
}


.main-page h3 {
  font-size: 16px;
  color: #808080;
  margin-left: 5px;

}


.text-index-left {
  width: 550px;
  float: left;
  padding: 20px;

}


.text-index-right {
  float: left;
  width: 525px;
  /*padding: 20px;*/
}

.main-postlets {
  foat: left;
  padding: 5px;
}

.main-postlets li {
  float: left;
  padding-bottom: 25px;
}


.sub-postlets-list li {
  margin: 5px;
  float: left;

}



.recent-texts-list {
  float: left;
}

.recent-texts-list li {
  float: left;
  display: block;
  font-size: 18px;
  border: 1px solid #ccc;
  width: 500px;
  /*background: #f6f4e4;
  color: #808080;*/
  font-weight: bold;
  margin: 7px;
}


.recent-texts-list a {
  width: 500px;
  background: #f6f4e4;
  padding: 10px;
  transition: color 0.5s ease, background 0.5s ease;
  color: #808080;
  display: block;
}

.recent-texts-list a:hover {
  background: #7F7F7F;
  color: #F0F0F0;
}

.recent-text-author {
  font-weight: normal;
  display: inline;
}



.main-about {
  padding: 10px;
  border: 1px solid #ccc;
  float: left;
  margin: 5px;
  width: 480px;


}




</style>


<main class="main-page group">

  <section class="text-index-left group">
    <h3>Latest on Cicadas Song</h3>
    <ul class="main-postlets">
      <li id="1"></li>
      <li id="2"></li>
      <li id="3"></li>
    </ul>
  </section>

  <section class="text-index-right group">
      <h3>About Cicadas Song</h3>
    <section class="main-about">
      <h2 class="header-logo">蝉</h2>
      <p class="about-text">
        Cicadas Song is a Genius-inspired, interactive digital library with a focus on classical
        literature. Named after a Platonic myth, Cicadas Song encourages users to not simply
        passively absorb the material at hand, but rather, to enter into dialogues with those texts
        through writing their own annotations or contemplating others'.
        Click on some promoted pages or search to see what all the <i>buzz</i> is about.
      </p>
    </section>

    <section class="sub-postlets group">
      <ul class="sub-postlets-list">
        <li id="4" class="top-sub-postlet"></li>
        <li id="5"></li>
        <li id="6"></li>
        <li id="7"></li>
        <li id="8"></li>
      </ul>
    </section>

    <section class="recent-texts">
      <h3>Recent Texts</h3>
      <ul class="recent-texts-list">
      </ul>

    </section>


  </section>


</main>
