


<a class="search-text-item group" href="/#/texts/<%=text.escape('id')%>">
  <div class="search-text-title"><%=text.escape('title')%></div>
  <div class="search-text-author"><%=author.escape('name')%></div>

</a>
