<div class="text-show-container group">
<section class="text-show-main">
  <header class="text-show-header">
    <h1 class="show-title"> <%= text.get('title') %> </h1>
    <h3 class="show-author"> <%= text.author().get('name')%> </h3>
  </header>
  <nav class="text-show-nav">
  </nav>
  <section class="text-show-body">
    <%=text.get('body') %>
  </section>
</section>


<section class="show-description">
  <!-- <div class="show-description-right-line">
  </div> -->
</section>




<section class="text-show-comment-form">
  <!-- insert comment form -->
</section>

</div>
